/* TODO Add site wide styles */

.readsub-container {
	text-decoration: none;
	color: black ;
	height: 150px;
	width: 500px;
	border: 1px black solid;
}

.readsub-container:hover {
	color: darkslateblue;
}

a {
	text-decoration: none;
}

.subs-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 15px;
}
