/* navigation css */

.hidden {
	display: none;
}

.nav-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 10px;
}

.navs-font {
	font-size: 25px;
	margin: 0 10px;
}
